*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    margin : auto;
    width : 80%;
    background:linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0.5));
    text-align: center;
}
.container{
    margin : 20px;
}
li{
    list-style: none;
}
.add{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap : 5px;
}
.area{
    background-color: aqua;
    width : 300px;
    height : 200px;
    padding : 5px;
    border : 2px solid rosybrown;
    border-radius: 2px;
    font-size: 20px;

}