*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    margin : auto;
    width : 80%;
    background:linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0.5));
    text-align: center;
}
.container{
    margin : 20px;
}
button{
    width : 200px;
    height: 40px;
    background-color:rgb(26, 26, 114);
    font-size: 25px;
    color :aliceblue;
    border : none;
    margin : 20px;
}
.textBox{
    width : 300px;
    height: 200px;
    background-color: rgb(160, 250, 149);
    border: 2px solid rgb(182, 134, 226);
    border-radius: 10px;
    text-indent: 5px;
    padding : 5px;
    font-size: 20px;
}
li{
    list-style: none;
}
.add{
    display: flex;
   
    justify-content: center;
    flex-wrap: wrap;
    gap : 5px;
}
.area{
    background-color: rgb(255, 252, 96);
    min-width: 300px;
    min-height: 200px;
    padding : 5px;
    border: 2px solid rgb(182, 134, 226);
    border-radius: 10px;
    font-size: 20px;

}
.delete{
    width : 20px;
    border-radius: 50%;
    margin-left: 0;
    margin-top : 0;
    height : 20px;
    font-size: 15px;
}